<div class="d-flex align-items-center justify-content-center">
	<h2>ADD EMPLOYEE</h2>
</div>
<div class="tablediv d-flex justify-content-center align-items-center p-0 m-0" style="background-color: #2779e2;">
  <div class="d-flex justify-content-center align-items-center h-100 col-8" style="padding: 50px 0px;">
    <div class="row d-flex justify-content-center align-items-center h-100 w-100">
      <div class="col-12">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" id="empFirstName" class="form-control form-control-lg" />
              </div>
            </div>
            
            <hr class="mx-n3 m-0">
            
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" id="empLastName" class="form-control form-control-lg" />
              </div>
            </div>

            <hr class="mx-n3 m-0">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Designation</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" id="empDesignation" class="form-control form-control-lg" />
              </div>
            </div>

            <hr class="mx-n3 m-0">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Department</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" id="empDepartment" class="form-control form-control-lg" />
              </div>
            </div>

            <hr class="mx-n3 m-0">
            
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="tel">Salary</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" id="empSalary" class="form-control form-control-lg" />
              </div>
            </div>

            <hr class="mx-n3 m-0">
            
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Password</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="password" id="emppassword" class="form-control form-control-lg" />
              </div>
            </div>

            <hr class="mx-n3 m-0">
            
            <div class="d-flex align-items-center justify-content-center px-5 py-4">
              <button type="submit" id="addEmployee" class="btn btn-primary btn-lg">Add</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>